{{ if eq .osid "darwin" }}
# Node + NPM + PNPM
# Use fnm
eval "$(fnm env --version-file-strategy=recursive --use-on-cd --corepack-enabled --shell zsh)"

# pnpm
alias npx='pnpx'
export PNPM_HOME="/Users/seferinofernandez/Library/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac


# bun completions
[ -s "$HOME/.bun/_bun" ] && source "$HOME/.bun/_bun"

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

{{ else if eq .osid "linux-fedora" }}
# Node + NPM + PNPM
# Use fnm
eval "$(fnm env --version-file-strategy=recursive --use-on-cd --corepack-enabled --shell zsh)"

# pnpm
alias npx='pnpx'
{{ end }}
