{{ if eq .osid "darwin" }}

# Python + uv + uvx
eval "$(uv generate-shell-completion zsh)"
eval "$(uvx --generate-shell-completion zsh)"

export PATH="/Users/seferinofernandez/.local/share/../bin:$PATH

{{ end -}}
