{{ if eq .osid "darwin" }}
{{-   include "dot_zshrc-darwin" -}}
{{ else if eq .osid "linux-debian" }}
{{-   include "dot_zshrc-linux-debian" -}}
{{ else if eq .osid "linux-fedora" }}
{{-   include "dot_zshrc-linux-fedora" -}}
{{ else if eq .osid "linux-aurora" }}
{{-   include "dot_zshrc-linux-fedora" -}}
{{ end }}