{{ if eq .osid "darwin" }}
{{-   include "scripts/install-packages-darwin.sh" -}}
{{ else if eq .osid "linux-debian" }}
{{-   include "scripts/install-packages-linux-debian.sh" -}}
{{ else if eq .osid "linux-fedora" }}
{{-   include "scripts/install-packages-linux-fedora.sh" -}}
{{ else if eq .osid "linux-aurora" }}
{{-   include "scripts/install-packages-linux-fedora.sh" -}}
{{ else if eq .osid "linux-ubuntu" }}
{{-   include "scripts/install-packages-linux-ubuntu.sh" -}}
{{ end }}